<link rel="stylesheet" type="text/css" href="../loginStyle.css">

<div class="body"></div>
<div class="grad"></div>
<div class="header">
	<div>Sinatra<span>Database</span></div>
</div>
<br>
<form name="loginForm" action="/<%= $action %>" method="post" class="login">
		<input type="text" placeholder="username" name="user"><br>
		<input type="password" placeholder="password" name="password"><br>
		<input type="submit" value="Login">
</form>
